<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UUID generator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="app-version" content="<%= htmlWebpackPlugin.options.appVersion %>">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="description" content="Blazing fast UUID generator app">
    <meta name="keywords" content="UUID generator,UUID">
    <meta name="author" content="Artem Demo">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <div id="app"></div>
</body>
</html>